

body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    display: flex;
    margin-left: 40px;
}

header {
    background-color: #1f1f1f;
    display: flex;
    height: 846px;
    flex-direction: column;
    width: 150px;
    border-radius: 20px;
    margin: 35px;
    padding: 30px 0; 
    box-sizing: border-box;
    margin-right: 70px;
}

.division-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
}



.logo-header {
    width: 75px;
    height: 75px;
    object-fit: contain;
}

.header-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px; 
    margin-bottom: 10px;
}

.gear-btn {
    background: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gear-icon {
    width: 50px; 
    height: 50px;
    filter: brightness(0.6); 
    transition: filter 0.3s, transform 0.3s;
}

.gear-btn:hover .gear-icon {
    filter: brightness(1); 
    transform: rotate(45deg);
}

.profile-img {
    width: 70px; 
    height: 70px;
    border-radius: 50%; 
    background-size: cover;
    background-position: center;
    border: 3px solid #333;
}


main{
    display: flex;
    width: 1900px;
}

.main-content {
    height: 70px;
    width: 570px;
    margin-top: 35px;
    background: linear-gradient(-145deg, transparent 20%, #1f1f1f 20.5%);
    border-radius: 20px 20px 0 0; 
}

.main-left {
    background-color: #1f1f1f;
    width: 815px;
    height: 320px;
    border-radius: 0px 20px 20px 20px; 
    margin-top: -20px; 
}

h1 {
    color: white;
    margin-left: 20px;
    font-size: 35px;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

.main-options {
    display: flex;
}

.option {
    display: flex;
    gap: 20px; 
    padding: 20px;
    border-radius: 50px;
}

.button-time, .button-ia {
    border: none;
    padding: 12px 30px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 100px; 
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
}

.button-time {
    background-color: #d7ff00;
    color: #000;
}

.button-ia {
    background-color: #333;
    color: #ffffff;
}

.button-ia:hover {
    background-color: #444;
}

.button-time:hover {
    filter: brightness(0.9);
}

.main-time-section {
    color: white;
    padding-top: 0px;
    padding-left: 20px;
    border-radius: 12px;
}

.title-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.selection-options {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1rem;
    font-weight: normal;
    padding-right: 20px;
}

.shift-grid {
    display: grid;
    grid-template-columns: repeat(3, 250px); 
    gap: 15px;
}

.shift-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn-pill {
    border: none;
    border-radius: 50px;
    padding: 12px;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
    font-size: 18px;
}

.btn-pill.active {
    background-color: #d7ff00 !important; 
    color: black !important;
}

.btn-inactive {
    background-color: #2a2a2a; 
    color: #efefef;
}

.btn-hour {
    background-color: #ffffff !important;
    color: black !important;
    border: none;
}

.btn-pill:hover {
    opacity: 0.9;
}

.selection-options {
    display: flex;
    align-items: center;
    background-color: transparent;
}

.btn-hour.active-hour {
    background-color: #d7ff00 !important;
    color: black !important;
}

.btn-nav {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 1.6rem;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-nav:hover {
    color: #d7ff00; 
    transform: scale(1.2);
}

.btn-nav:active {
    transform: scale(0.9);
}

.date-display {
    font-size: 1.6rem;
    font-weight: 500;
    min-width: 80px; 
    text-align: center;
    color: #fff;
}

/* --- Container Principal da Direita --- */
.main-right {
    margin-top: 20px;
    background-color: #1f1f1f;
    color: white;
    padding-left: 25px;
    padding-bottom: 10px;
    padding-top: 0.1px;
    border-radius: 20px;
    width: 790px;
}

.title-main-right-top h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.verification-container {
    display: flex;
    gap: 15px;
    height: 250px; 
    overflow: hidden;
}

.header-left-notifications {
    flex: 3;
    background-color: #1a1a1a;
    border: 1px solid #333;
    border-radius: 15px;
    padding: 10px;
    font-size: 1.6rem;
    overflow-y: auto;
    scrollbar-width: none;
}

.employee-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 73px; 
    padding: 0 20px; 
    border-bottom: 1px solid #2a2a2a;
    transition: 0.3s;
    box-sizing: border-box; 
}   

.employee-row:last-child {
    border-bottom: none;
}

.notif-title {
    font-size: 1.4rem;
    color: #ffffff;
    font-weight: 500;
}

.notif-time {
    background-color: #2a2a2a; 
    color: #888; 
    padding: 6px 12px;
    border-radius: 6px;
    font-size: 1.1rem;
    font-family: monospace; 
    white-space: nowrap;
}

.header-right-notifications {
    flex: 1;
    background-color: #1a1a1a;
    border: 1px solid #333;
    border-radius: 15px;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    padding: 10px 0;
    max-width: 80px;
    margin-right: 25px;
    overflow-y: auto;
}

.header-left-notifications::-webkit-scrollbar,
.header-right-notifications::-webkit-scrollbar {
    display: none;
}

.side-icon-item {
    width: 100%;
    height: 73px; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-bottom: 1px solid #333;
    transition: 0.3s;
    
}

.side-icon-item:last-child {
    border-bottom: none; 
}

.side-icon-item img {
    width: 50px; 
    height: 50px;
    object-fit: contain;
}


.access-status-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background: #1f1f1f;
    margin-top:18px;
    border-radius: 20px;
    width: 790px;
    padding-left: 25px;
}

.status-text span {
    display: block;
    font-size: 0.9rem;
    color: #ccc;
    font-size: 24px;
    padding-left: 10px;
}

.status-authorized {
    color: #d7ff00; 
    margin: 0;
    font-weight: bold;
    font-size: 36px;
    padding-left: 12px;
}

.btn-raise {
    background-color: #d7ff00; 
    color: #000;
    border: none;
    border-radius: 50px;
    padding: 12px 30px;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.2s;
    margin-right: 30px;
}

.btn-raise:hover {
    transform: scale(1.05);
    background-color: #e5ff5c;
}
    
.main-right-right {
    position: relative; 
    background-color: #1f1f1f;
    color: white;
    margin-left: 320px;
    border-radius: 20px;
    width: 780px;
    height: 846px;
    margin-top: 35px;
    overflow: hidden; 
}

.image-entrada {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 20px;
    display: block;
}

.gauge-wrapper {
    position: absolute; 
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 40%;           
    left: 20%;          
    transform: translate(-50%, -50%); 
    z-index: 10;        
}

.gauge-wrapper-2 {
    position: absolute; 
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    top: 40%;           
    left: 80%;          
    transform: translate(-50%, -50%); 
    z-index: 10;        
}

.gauge-svg {
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 0 5px rgba(215, 255, 0, 0.5));
}

.gauge-track {
    fill: none;
    stroke: rgba(255, 255, 255, 0.05);
    stroke-width: 1.5; 
    stroke-linecap: round;
}

.gauge-fill {
    fill: none;
    stroke: #d7ff00;
    stroke-linecap: round;
    stroke-dasharray: 165; 
    stroke-dashoffset: 58;
}

.gauge-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', 'Segoe UI', sans-serif;
    color: white;
}

.label {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0.6;
    padding-bottom: 1px;
}

.value {
    font-size: 65px; 
    color: #d7ff00;
    line-height: 0.8;
    text-shadow: 0 0 15px rgba(215, 255, 0, 0.6);
}

.unit {
    font-size: 22px;
    font-weight: 500;
    opacity: 0.7;
    letter-spacing: 1px;
}




.gate-header {
    position: absolute;
    top: 30px;      
    left: 40px;     
    display: flex;
    align-items: center;
    gap: 15px;      
    z-index: 20;    
}

.gate-icon {
    width: 45px;
    height: 45px;
}

.gate-text {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
}

.gate-title {
    color: #d7ff00; 
    font-size: 40px;
    margin: 0;
    text-shadow: 0 0 15px rgba(215, 255, 0, 0.5);
}

.gate-subtitle {
    color: #ffffff;
    font-size: 32px;
    font-weight: 400;
    margin: 0;
    opacity: 0.9;
    letter-spacing: 0.5px;
}